.page-logo {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

/* Sidebar grid (component-level layout) */
.highlights-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5rem;
}

/* Cards */
.highlight-card {
  height: 120px;
  padding: 0.5rem;
  border: 2px solid blue; /* for temporary visualization */
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

/* icons of highlight cards */
.highlight-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.highlight-card h4 {
  display: inline;
}

.weather-info-wrapper {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.weather-info-wrapper > div {
  display: flex;
  align-items: center;
}

.weather-icon {
  width: 127px;
  height: 127px;
  border-radius: 50%;
}

.weather-condition {
  font-size: 5rem;
  max-width: 15ch;
  line-height: 1.1;
  margin: 0;
}

.weather-description {
  font-size: 1.2rem;
  max-width: 45ch;
}

.temperature-wrapper {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.temperature-current {
  font-size: 6rem;
  margin: 0;
}

.temperature-range p {
  margin: 0.3rem;
  display: flex;
  padding: 0.3rem;
  min-width: 100px;
  justify-content: space-between;
  border-radius: 20px;
  border: 2px solid red; /* for temporary visualization */
}

.location-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.location-icon {
  width: 25px;
  height: 25px;
}

#nextdays-forecast ul {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

#nextdays-forecast li {
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10%;
  min-width: 100%;
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.forecast-card p {
  margin: 0;
  font-weight: 700;
  font-size: 1.1rem;
}

#extras > article {
  flex: 1;
  border: 2px dashed green; /* for temporary visualization */
  border-radius: 10px;
}

.sunrise-sunset-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sunrise-sunset-container > h3 {
  margin: 0 0 1rem 0;
}

.sunrise-sunset-container > div {
  display: flex;
  flex-direction: column;
}

.sunrise-sunset-wrapper {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}

.sunrise-info,
.sunset-info {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  justify-content: end;
}

.sunrise-info {
  align-items: start;
}

.sunset-info {
  align-items: end;
}

:where(.sunrise-info, .sunset-info) > * {
  margin: 0;
}

.bi {
  /* in-built class of bootstrap SVGs  */
  color: #ffffff;
}

.twilight {
  max-width: 50%;
}
