/* .src/styles/layout.css */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

main {
  display: grid;
  gap: 1rem;
  grid-template-columns: minmax(250px, 1fr) 2fr minmax(250px, 1fr);
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "sidebar hero extras"
    "sidebar forecast forecast";
}

main > * {
  outline: 1px dashed red; /* for temporary visualization */
}

#stats-sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#weather-hero-display {
  grid-area: hero;
  padding: 1rem;
}

#extras {
  grid-area: extras;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

#nextdays-forecast {
  grid-area: forecast;
}
